*{
  box-sizing: border-box;
}
.head{
  max-height:70px;
  font-family: serif;
}

@media (max-width: 900px) {
    .navbar-form{
      margin:auto;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
@media(max-width: 1580px) {
  .headtext {
    margin-top:2px;
    font-size: 2em;
  }
  .unbehaved-element {
    font-size: 2em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  .headtext {
    margin-top:2px;
    font-size: 1.7em;
  }
}
@media(max-width: 760px) {
  .headtext {
    margin-top:2px;
    font-size: 1.5em;
  }
}
@media(max-width: 480px) {
  .headtext2 {
    margin-top:2px;
    font-size: 1.2em;
  }
}
@media(max-width: 320px) {
  .headtext2 {
    margin-top:2px;
    font-size: 1em;
  }
}
@media(max-width: 1580px) {
  .heada {
    font-size: 2em;
  }
}
@media(max-width: 1180px) {
  .heada{
    font-size:1.8em;
  }
}
@media(max-width: 780px) {
  .heada {
    font-size: 1.7em;
  }
}
.headb{
  float:right;
  margin:4px;
  border-radius: 12px;
}
.navbar-form{
  margin-top: 7px;
}
